.header {
  margin-bottom: 40px;

  &__top {
    background-color: $bg-darkgray;
    margin-bottom: 35px;

    @media(max-width: 850px) {
      margin-bottom: 25px;
    }
  }

  &__top-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__burger {
    display: none;
    padding: 15px 0;
    cursor: pointer;

    position: relative;
    z-index: 11;

    &-item {
      width: 25px;
      height: 2px;
      background-color: #fff;

      transition: transform 0.5s ease;

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }

    &.active {

      .header__burger-item {

        &:first-child {
          transform: translate(0, 5px) rotate(-45deg);
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:last-child {
          transform: translate(0, -5px) rotate(45deg);
        }
      }
    }

    @media(max-width: 650px) {
      display: block;
    }
  }

  &__btn {
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    color: #fff;

    border: none;
    background-color: $bg-orange;
    padding: 0 30px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: 16px;
      fill: #fff;
      margin-right: 10px;
    }

    @media(max-width: 415px) {
      font-size: 10px;
      padding: 0 15px;

      svg {
        width: 14px;
      }
    }
  }

  &__bottom-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 30px;
    align-items: center;

    @media(max-width: 1080px) {
      grid-template-columns: 1fr 3fr 1fr;
      grid-gap: 10px;
    }

    @media(max-width: 415px) {
      grid-gap: 0;
    }
  }

  &__logo-img {

    @media(max-width: 1080px) {
      width: 150px;
    }

    @media(max-width: 415px) {
      width: 80px;
    }
  }

  &__phones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $bg-gray;

    @media(max-width: 850px) {
      justify-content: center;
      background-color: transparent;
    }
  }

  &__phones-link {

    &:first-child {
      margin-left: 10px;
    }

    @media(max-width: 1080px) {
      font-size: 14px;
    }

    @media(max-width: 850px) {
      display: none;
    }
  }

  &__phones-btn {
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    color: #fff;

    background-color: $bg-orange;
    border: none;
    padding: 15px 25px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: 12px;
      fill: #fff;
      margin-right: 10px;
    }

    @media(max-width: 1080px) {
      padding: 15px;
    }

    @media(max-width: 585px) {
      position: absolute;
      top: 0;
      padding: 13px;
    }
    
    @media(max-width: 415px) {
      font-size: 10px;
      padding: 13px 10px;

      left: 40%;
      transform: translateX(-40%);
    }
  }

  &__icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__icons-link {
    font-size: 10px;
    line-height: 20px;
    color: #3d3d3d;
    text-transform: uppercase;

    display: flex;
    flex-direction: column;

    position: relative;

    svg {
      height: 35px;

      @media(max-width: 1080px) {
        height: 25px;
      }

      @media(max-width: 415px) {
        height: 20px;
      }
    }

    &:not(:last-child) {
      padding-right: 25px;
      border-right: 2px solid #e4e4e4;

      @media(max-width: 1080px) {
        padding-right: 15px;
      }
      
      @media(max-width: 415px) {
        padding-right: 10px;
      }
    }

    &:not(:first-child) {
      padding-left: 25px;

      @media(max-width: 1080px) {
        padding-left: 15px;
      }

      @media(max-width: 415px) {
        padding-left: 10px;
      }
    }
  }

  &__favorite--icon,
  &__compare--icon {
    display: none;
    position: absolute;
    top: -5px;
    z-index: 1;
    font-family: "Roboto-Bold", sans-serif;
    color: #fff;

    &::before {
      position: absolute;
      content: "";
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: $bg-orange;

      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
    }
  }

  &__icons-basket {
    position: absolute;
    top: -20px;
    right: 10px;

    font-size: 11px;
    line-height: 20px;
    color: #fff;

    width: 20px;
    height: 14px;
    background-color: #ff8500;

    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      position: absolute;
      content: "";
      top: 12px;

      border: 6px solid transparent;
      border-bottom: 0;
      border-top-color: #ff8500;
    }
  }
}

.nav {

  &__list {
    display: flex;
    padding: 16px 0;
  }

  &__link {
    position: relative;

    font-size: 12px;
    color: $c-gray;
    text-transform: uppercase;
    padding: 18px;

    transition: color 0.5s ease;

    &::before {
      content: "";
      position: absolute;
      bottom: 1px;
      left: 0;

      width: 0;
      height: 2px;
      background-color: $c-yellow;

      transition: width 0.5s ease;
    }

    &:hover {
      color: #fff;

      &::before {
        width: 100%;
      }
    }
  }

  &__item {

    &:first-child {

      .nav__link {
        padding-left: 0;
      }
    }

    .active {
      color: #fff;
      position: relative;

      &::before {
        width: 100%;
      }
    }
  }

  @media(max-width: 650px) {
    display: none;
  }
}

.nav-mobile {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  
  width: 100%;
  height: 100vh;
  background-color: $bg-orange;

  transform: translateX(-100%);
  transition: transform 0.5s ease;

  &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__item {

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__link {
    font-family: "Roboto-Bold", sans-serif;
    font-size: 18px;
    line-height: 40px;
    text-transform: uppercase;
    color: #fff;
  }

  &.active {
    transform: translateX(0);
  }
}
