@import "normalize";
@import "vars";
@import "mixins";
@import "fonts";
@import "header";
@import "service";
@import "products";
@import "footer";
@import "modals";

@import "../../node_modules/@fortawesome/fontawesome-free/css/all.min.css";

body {
  font-family: "Roboto-Regular", sans-serif;
}

.page {
  overflow: hidden;
}

.container {
  max-width: 1380px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}
